<h1>Send in your user info here:</h1>

<form style="color: white;" method="post" action="/">
  First Name:<input style="color: black;" name="fname" required>
  <br>
  <hr>
  <br>
  Last Name:<input style="color: black;" name="lname" required>
  <br>
  <hr>
  <br>
  Mood:<input style="color: black;" name="mood" required>
  <br>
  <hr>
  <br>
  Month:<input style="color: black;" name="month" required>
  <br>
  <hr>
  <br>
  Year:<input style="color: black;" name="year" required>
  <br>
  <hr>
  <br>
  Day Number:<input style="color: black;" name="day_number" required>
  <br>
  <hr>
  <br>
  Day of the Week:<input style="color: black;" name="day" required>
  <br>
  <hr>
  <br>
  Avatar Pic URL:<input style="color: black;" name="picurl" required>
  <br>
  <hr>
  <br>
  Country:<input style="color: black;" name="country" required>
  <br>
  <hr>
  <br>
  City:<input style="color: black;" name="city" required>
  <br>
  <hr>
  <br>
  <input style="color: black;" type="submit">
</form>