<h1>Send in your user info here:</h1>

<form style="color: white;" method="post" action="/">
  First Name:<input style="color: black;" name="fname">
  <br>
  <hr>
  <br>
  Last Name:<input style="color: black;" name="lname">
  <br>
  <hr>
  <br>
  Email:<input style="color: black;" name="email">
  <br>
  <hr>
  <br>
  Avatar Pic URL:<input style="color: black;" name="picurl">
  <br>
  <hr>
  <br>
  Birthday:<input style="color: black;" name="bday">
  <br>
  <hr>
  <input style="color: black;" type="submit">
</form>