<h1>Send in your user info here:</h1>

<form style="color: white;" method="post" action="/">
  First Name:<input name="Fname">
  <br>
  Last Name:<input name="Lname">
  <br>
  Email:<input name="email">
  <br>
  Avatar Pic URL:<input name="picurl">
  <br>
  Birthday:<input name="bday">
  <br>
  <input type="submit">
</form>